<p id="notice"><%= notice %></p>

<p>
  <b>Username:</b>
  <%= @geoexpat_user.username %>
</p>


<%= link_to 'Edit', edit_geoexpat_user_path(@geoexpat_user) %> |
<%= link_to 'Back', geoexpat_users_path %>
